:root {
  /* --pine-margin-top: -2px; */
  --pine-margin-top: -0.2vw;
  /* --hill1-color: rgb(210, 255, 105); */
  --hill1-color: rgb(100, 200, 0);
  /* --hill2-color: rgb(100, 200, 0); */
  /* --hill2-color: rgb(120, 140, 12); */
  /* --hill2-color: rgb(50, 110, 0); */
  --hill2-color: rgb(50, 130, 0);
}

#hidden-assets {
  display: none;
}


.mountain-set {
  /* background-color: red; */
  margin-top: 50vh;
  position: absolute;
  top: 0vh;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}


/* rgb(130, 157, 200); */

#hill1 {
  top: 16vw;
  position: absolute;
  width: 100vw;
  height: 14vw;
  background-image: linear-gradient(var(--hill1-color), white);
  /* background-color: rgb(210, 255, 105); */
  border-radius: 100% 0% 0px 0px;
  /* transform: rotate(-5deg); */
}

#hill2 {
  position: absolute;
  top: 20vw;
  left: -5vw;
  width: 120vw;
  height: 15vw;
  background-color: var(--hill2-color);
  transform: rotate(3deg);
  border-radius: 30% 40% 0 0;
}

#hill3 {
  position: absolute;
  top: 27vw;
  left: -5vw;
  width: 120vw;
  height: 30vh;
  background-color: var(--hill2-color);
}



/* background light colour pine tree line */
.back-pine-tree {
  display: inline-block;
  width: 1.2vw;
}

/* .trianlge applies to all pine trees */
.triangle {
  width: 0;
  height: 0;
}

.back-triangle2 {
  margin: 0 auto 0 0.45vw;
  border-left: 0.45vw solid transparent;
  border-right: 0.45vw solid transparent;
  border-bottom: 0.45vw solid var(--hill1-color);
}

.back-triangle3 {
  margin: var(--pine-margin-top) auto 0 0.4vw;
  border-left: 0.5vw solid transparent;
  border-right: 0.5vw solid transparent;
  border-bottom: 0.5vw solid var(--hill1-color);
}

.back-triangle4 {
  margin: var(--pine-margin-top) auto 0 0.3vw;
  border-left: 0.6vw solid transparent;
  border-right: 0.6vw solid transparent;
  border-bottom: 0.6vw solid var(--hill1-color);
}

.back-triangle5 {
  margin: -3px auto 0 0.05vw;
  border-left: 0.9vw solid transparent;
  border-right: 0.9vw solid transparent;
  border-bottom: 0.9vw solid var(--hill1-color);
}



/* foreground darker treelin */
.front-pine-tree {
  display: inline-block;
  margin-top: -9%;
  margin-left: 23%;
  width: 1.5vw;
}


.front-triangle1 {
  margin: 0 auto 0 0.7vw;
  border-left: 0.4vw solid transparent;
  border-right: 0.4vw solid transparent;
  border-bottom: 0.4vw solid var(--hill2-color);
}

.front-triangle2 {
  margin: var(--pine-margin-top) auto 0 0.5vw;
  border-left: 0.6vw solid transparent;
  border-right: 0.6vw solid transparent;
  border-bottom: 0.6vw solid var(--hill2-color);
}

.front-triangle3 {
  margin: var(--pine-margin-top) auto 0 0.4vw;
  border-left: 0.7vw solid transparent;
  border-right: 0.7vw solid transparent;
  border-bottom: 0.7vw solid var(--hill2-color);
}

.front-triangle4 {
  margin: var(--pine-margin-top) auto 0 0.3vw;
  border-left: 0.8vw solid transparent;
  border-right: 0.8vw solid transparent;
  border-bottom: 0.8vw solid var(--hill2-color);
}

.front-triangle5 {
  margin: -3px auto 0 0.05vw;
  border-left: 1.1vw solid transparent;
  border-right: 1.1vw solid transparent;
  border-bottom: 1.1vw solid var(--hill2-color);
}
