#splash-bottom {
}

.mountain-set {
  /* background-color: red; */
  margin-top: 50vh;
  position: absolute;
  top: 0vh;
  width: 100%;
  height: 50vh;
}

.bg-mountain-margin-left {
  margin-left: 10vw;
}





.hill1 {
  top: 19vw;
  position: absolute;
  width: 100vw;
  height: 10vh;
  background-color: pink;
  transform: rotate(-5deg);
}

.hill2 {
  position: absolute;
  top: 22vw;
  left: -5vw;
  width: 120vw;
  height: 20vh;
  background-color: red;
  transform: rotate(1deg);
}


/* #hill1-container {
  position: absolute;
  overflow: hidden;
  top: 5vw;
  left: 35vw;
  width: 70vw;
  height: 20vw;
}



#hill1 {
  margin-top: 5vw;
  z-index: 10;
  /* z-index: 10; */
  /* position: relative;
  width: 170vw;
  height: 30vw; */
  /* background: var(--hill1-color); */
  /* background-image: linear-gradient(red, yellow); */
  /* background: linear-gradient( var(--hill1-color) 15%, whitesmoke 42%); */
  /* background: linear-gradient(120deg, var(--hill1-color) 15%, white 40%); */

  /* border-radius: 50%; */
  /* border-top-left-radius: 20%;
  border-top-right-radius: 10%; */
/* } */
